.book {
	text-align: center;
}
.book .page {
	width: 400px;
	height: 350px;
	position: absolute;
	background: white;
	overflow: hidden;
}
.book .right-side {
	left: 400px;
	-moz-border-radius: 0 15px 15px 0;
	-webkit-border-radius: 0 15px 15px 0;
	-khtml-border-radius: 0 15px 15px 0;
	border-radius: 0 15px 15px 0;
}
.book .left-side {
	left: 0px;
	-moz-border-radius: 15px 0 0 15px;
	-webkit-border-radius: 15px 0 0 15px;
	-khtml-border-radius: 15px 0 0 15px;
	border-radius: 15px 0 0 15px;
}
.flipbook.ui-dialog {
	background: none;
	border: 0;
}
.flipbook.ui-dialog .ui-dialog-content {
	overflow: hidden;
}
.flipbook.ui-dialog .ui-dialog-titlebar {
	padding: 0;
	border: 0;
	background: none;
}
.ui-widget-overlay {
	background: #000;
	opacity: .8;
	filter: alpha(opacity = 80);
}
a.arrow {
	color: #fff;
	width: 20px;
	height: 350px;
	z-index: 1000;
	position: absolute;
	background-color: #000;
	opacity: .2;
	filter: alpha(opacity = 20);
	text-decoration: none;
}
a.arrow:hover {
	opacity: .5;
	filter: alpha(opacity = 50);
}
.right-arrow {
	left: 780px;
	-moz-border-radius: 0 15px 15px 0;
	-webkit-border-radius: 0 15px 15px 0;
	-khtml-border-radius: 0 15px 15px 0;
	border-radius: 0 15px 15px 0;
}
.left-arrow {
	left: 0;
	-moz-border-radius: 15px 0 0 15px;
	-webkit-border-radius: 15px 0 0 15px;
	-khtml-border-radius: 15px 0 0 15px;
	border-radius: 15px 0 0 15px;
}
.rounded-corners {
}